/* Global body styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

/* Header styles */
header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background: #f0f0f0;
  padding: 10px;
  z-index: 1000;
}

/* Header styles when scrolled */
header.scrolled {
  background: #f0f0f0;
}

/* Title within the header */
.title h2 {
  font-size: xxx-large;
  transition: font-size 0.5s ease, padding 0.5s ease;
  padding: 5px;
  background: #f0f0f0;
  margin-bottom: 0;
  text-align: center;
}

/* Title style changes on scroll */
.title h2.scrolled {
  font-size: large;
  padding: 5px;
  background: #f0f0f0;
}

/* Container for the title */
.title {
  background: #f0f0f0;
  font-family: monospace;
  font-style: oblique;
  text-align: center;
  opacity: 0;
  animation: fadeIn 5s forwards;
}

/* Subtitle styles */
.subTitle {
  color: #888888;
  font-family: monospace;
  text-align: center;
  margin-top: 100px;
  opacity: 0;
  animation: fadeIn 5s forwards;
}

/* Styles for photo titles */
.photoTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

/* Container for images */
.image-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.image-container a {
  display: block;
  text-decoration: none;
}

/* Image styles */
.image-container img {
  display: block;
  height: 40px;
  width: 40px;
}

/* Hover effect for images */
.hover-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1);
  width: 80%;
  height: 2px;
  background-color: black;
  bottom: -15px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Hover effect changes for images */
.image-container:hover .hover-line {
  opacity: 1;
  transform: translateX(-50%) scaleY(1.5);
}

/* Styles for 'About Me' section */
.aboutMe {
  font-family: monospace;
  margin-left: 28px;
}

/* Animation for fading in elements */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Typewriter effect for text */
.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 5.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Blinking caret effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #3498db;
  }
}

/* Container for animations */
.animation-container {
  position: relative;
}

/* Slide-up animation */
.animate-up {
  opacity: 0;
  transform: translateY(50px);
  animation: slide-up 1.75s ease-out forwards;
}

/* Keyframes for slide-up animation */
@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Styles for 'About Me' photo with fade-in effect */
.aboutMePhoto {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
}

/* Flex container for rows */
.rowBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Styles for individual boxes */
.box {
  flex: 0 1 90%;
  border: 1px solid #ccc;
  padding: 20px;
  height: 350px;
  margin: 3vw;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
}

/* Box styles for medium screens */
@media (min-width: 600px) {
  .box {
    flex: 0 1 50%;
  }
}

/* Box styles for large screens */
@media (min-width: 1024px) {
  .box {
    flex: 0 1 30%;
  }
}

/* Title styles within boxes */
.boxTitle {
  font-size: 30px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/* Subtitle styles within boxes */
.boxSubTitle {
  margin: 5px;
  color: #666;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Centering container */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Archive link styles */
.archive {
  text-align: center;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 1.5em;
  font-style: italic;
  margin-top: 20px;
}

/* Archive hover effect */
.archive:hover {
  color: #3498db;
}

/* Footer styles */
footer {
  background-color: dimgrey;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Text container styles */
.text-container {
  padding: 10px;
  display: inline-block;
}

.text-container a {
  font-size: 10px;
  text-decoration: none;
}

/* Hover line effect in text container */
.text-container .hover-line-text {
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

/* Hover effect changes in text container */
.text-container:hover .hover-line-text {
  width: 100%;
}

/* Title styles for projects */
.projectsTitle {
  margin-left: 100px;
  margin-top: 70px;
  font-size: x-large;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
}

/* Special character after project titles */
.projectsTitle::after {
  content: '+';
  color: lightskyblue;
}
